* { margin: 0 auto; }
html, body {
	height: 100%;
}
body {
	font-family: Arial;
	font-size: 14px;
	background: #D4D6D6;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
}
footer, .push {
	height: 45px;
}

.navbar {
	margin-bottom: 0;
}

.banner {
	height: 50px;
	clear: both;
}
.banner-box {
	height: 50px;
	width: 50px;
	float: left;
	animation-name: header;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.banner-box:hover {
	animation-name: headerRed;
}
@keyframes header {
	0% {background-color: #90C3D4;}
	25% {background-color: #99CDDE;}
	50% {background-color: #1DACDB;}
	75% {background-color:#99CDDE;}
	100% {background-color:#90C3D4;}
}
@keyframes headerRed {
	0% {background-color:#E3C1C1;}
	25% {background-color:#E37B7B;}
	50% {background-color:#E32929;}
	75% {background-color:#E37B7B;}
	100% {background-color:#E3C1C1;}
}

.jumbotron {
	margin-bottom: 0;
	background-color: #494A4A;
	padding: 10px auto 10px auto;
}
.jumbotron h1 {
	color: #FFF;
	text-shadow: 1px 1px #48494A;
	text-align: center;
	font-size: 6em;
	font-weight: 300;
}
.jumbotron h1 .highlight {
	color: #FFF;
}

.content-header {
	height: 60px;
	background: #337ab7;
}
.content-header h2 {
	margin: 0;
	line-height: 60px;
	color: #FFF;
}
.content-header h2 .pubDate {
	color: #C9C9C9;
	font-size: 20px;
}

.content {
	background: #FFF;
	padding: 20px;
	margin: 15px auto 15px auto;
}
.content .panel {
	margin: 35px 15px 15px 15px;
}

footer {
	line-height: 45px;
	background: #3C3D3D;
	color: #FFF;
}
