---
layout: page
description: "Full stack web developer"
activePage: "index"
splashHeader: true
---

<div id="home-content">
  <h2>About me</h2>
  <p>
    I am Alex O'Callaghan and this is my personal website where I share blog posts and recent projects I have completed.
  </p>
  <p>
    I am a software developer focusing on full stack web development. I completed <a href="https://www.ecs.soton.ac.uk/programmes/bsc-computer-science" target="_blank">BSc Computer Science</a> at <a href="https://southampton.ac.uk" target="_blank">University of Southampton</a> in 2017.
  </p>
  <div class="row justify-content-center">
    <div class="col-xs-4">
      <a class="btn btn-secondary mx-2 my-2" href="/about">More about me</a>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-primary mx-2 my-2" href="/projects">Browse project portfolio</a>
    </div>
  </div>
  <hr />
  <h2>
    Projects
    <a href="/projects">
      <i class="fa fa-plus pull-right"></i>
    </a>
  </h2>
  {% assign type = 'featured' %}
  {% assign count = 3 %}
  {% include project/projects.html %}
  <div class="row justify-content-center my-4">
    <a class="btn btn-secondary" href="/projects">More projects</a>
  </div>
  <hr />
  <h2>
    Recent blog posts
    <a target="_blank" href="/feed.xml">
      <i class="fa fa-rss pull-right"></i>
    </a>
  </h2>
  {% assign small = true %}
  {% include post/posts.html %}
  <div class="row justify-content-center my-4">
    <a class="btn btn-secondary" href="/blog">More posts</a>
  </div>
</div>
