---
layout: page
title: "Projects"
description: "Cool stuff I've made"
header-img: "img/computer-motherboard-pc-wires.jpg"
scripts: "/js/projects.min.js"
---

<p>
  Here's where I keep interesting projects I've worked on either in my free time or as paid work.
</p>
<p>
  Most of the code can be found on my
  <a href="https://github.com/awocallaghan" target="_blank">GitHub account</a>,
  including this
  <a href="https://github.com/awocallaghan/awocallaghan.github.io" target="_blank">website</a> itself.
</p>

<div id="projects">
  <h2>
    Projects
  </h2>
  {% assign projects = site.projects | sort: 'date' %}
  {% for project in projects reversed %}
    <div class="post-preview">
      {% if project.external %}
        {% assign url = project.external %}
        {% assign target = '_blank' %}
      {% else %}
        {% assign url = project.url %}
        {% assign target = '_self' %}
      {% endif %}
      <a href="{{ url }}" target="{{ target }}">
        <h3 class="post-title">
          {{ project.title }}
        </h3>
        <h4 class="post-subtitle">
          {{ project.description }}
        </h4>
        <em>
          {{ project.date | date: '%B %Y' }}
        </em>
        <br />
        <em>
          {{ project.tags | join: ', ' }}
        </em>
      </a>
    </div>
  {% endfor %}
</div>

<hr />
