* { margin: 0 auto; }

html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font: Arial; font-size: 11px; }

#sidebar {
	height: 100%;
  width: 30%;
  float: right;
  background: #1F2B6B;
  color: #FFF;
}

#sidebar h1 { margin-left: 3px; }
#sidebar p { margin-left: 6px; }
#month-select { height: 25px; line-height: 25px; padding: 5px; border: 1px solid #FFF; margin: 5px; }
.crime { display: none; padding: 5px; margin: 5px; border: 1px solid #FFF;}

#map_contain {
  height: 100%;
  width: 70%;
  float: left;
}

#map_canvas { height: 100%; }
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
  height: 100%;
}
