<div id="carousel" class="carousel carousel-dark slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for img in page.carouselImages %}
      <li data-target="#carousel" data-slide-to="{% increment carouselIndicatorCounter %}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for img in page.carouselImages %}
      <div class="carousel-item {% if forloop.first %}active{% endif%}">
        <img class="d-block img-fluid" src="{{ img.src }}" alt="{{ img.alt }}" />
        {% if img.title %}
          <div class="carousel-caption d-none d-md-block">
            <h3>{{ img.title }}</h3>
            <p>{{ img.text }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
