<div class="post-preview container">
  <a href="{{ post.url | prepend: site.baseurl }}">
  {% if post.header-img %}
  <div class="row">
    <div class="post-preview-img col-12 col-md-4">
      <img class="img-fluid" src="{{ post.header-img | prepend: site.baseurl | prepend: site.url }}" alt="{{ post.title }}" />
    </div>
    <div class="post-preview-content col-12 col-md-8">
  {% else %}
  <div class="post-preview-content col-12">
  {% endif %}
    <!--<a href="{{ post.url | prepend: site.baseurl }}">-->
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    <!--</a>-->
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
  </div>
  {% if post.header-img %}</div>{% endif %}
  </a>
</div>
{% if small and count != 2 %}
  <hr>
{% elsif small != true and count != posts.size - 1 %}
  <hr>
{% endif %}
