<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Alex O'Callaghan" />
		<meta name="description" content="{{ page.description }}" />
		<meta name="keywords" content="{{ page.keywords }}" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!-- Google analytics tracking -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-67253272-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<div class="wrapper">
			<header>
				<div class="container">
					<h1>Alex O'Callaghan</h1>
					<h2>computer science undergraduate</h2>
				</div>
			</header>
			<nav>
				<div class="container">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</div>
			</nav>

			{{ content }}

			<div class="push"></div>
		</div>
		<footer>
			<div class="container">
				Copyright &copy; Alex O'Callaghan
			</div>
		</footer>

	</body>
</html>
