<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Alex O'Callaghan" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<div class="wrapper">
			<header>
				<div class="container">
					<h1>Alex O'Callaghan</h1>
				</div>
			</header>
			<nav>
				<div class="container">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</div>
			</nav>

			{{ content }}

			<div class="push"></div>
		</div>
		<footer>
			<div class="container">
				Copyright &copy; Alex O'Callaghan
			</div>
		</footer>

	</body>
</html>