---
layout: page
type: 'project'
activePage: 'projects'
---
{% if page.sections %}
  <section id="contents">
    <h2>Contents</h2>
    <ol>
      {% for section in page.sections %}
        <li><a href="{{ section.link }}">{{ section.title }}</a></li>
      {% endfor %}
    </ol>
  </section>
{% endif %}
{{ content }}

{% if page.carouselImages %}
  <h2 id="images">Images</h2>
  {% include components/carousel.html %}
{% endif %}

<div class="text-center">
  <a class="btn btn-primary" href="/projects">
    &#x2190; All projects
  </a>
</div>
